# Mission to Mars Scrapping

Site to explore: <a href="https://redplanetscience.com/">Redplanet Science</a>

In [1]:
# Importing Dependencies

import pandas as pd
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests
from urllib.request import urlopen as uReq

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\Jose.Vazquez\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

# 1. Latest Mars news extraction

In [32]:
# Defining URL to scrape

url = "https://redplanetscience.com/"
browser.visit(url)

In [29]:
html = browser.html
soup = bs(html, 'html.parser')

title_list = []
art_list = []

title = soup.find_all('div', class_='content_title')
article = soup.find_all('div', class_='article_teaser_body')

list_e =[title, article]

for titl, art in zip(title, article):
    print(f'Title: {titl.text}')
    print(f'Article extract: {art.text}')
    print('----------------------------------')
    title_list.append(titl.text)
    art_list.append(art.text)

Title: The Launch Is Approaching for NASA's Next Mars Rover, Perseverance
Article extract: The Red Planet's surface has been visited by eight NASA spacecraft. The ninth will be the first that includes a roundtrip ticket in its flight plan.
----------------------------------
Title: NASA Perseverance Mars Rover Scientists Train in the Nevada Desert
Article extract: Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year.
----------------------------------
Title: 8 Martian Postcards to Celebrate Curiosity's Landing Anniversary
Article extract: The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.
----------------------------------
Title: NASA's Mars 2020 Rover Goes Coast-to-Coast to Prep for Launch
Article extract: The agency's first step in returning rocks from Mars just arrived at Kennedy Space Center. The Mars 2020 team now begins readying for a launch to the Red Planet this July.
----------------------------------
Title: NASA Moves Forward With Campaign to Return Mars Samples to Earth
Article extract: During this next phase, the program will mature critical technologies and make critical design decisions as well as assess industry partnerships.
----------------------------------
Title: NASA's Perseverance Rover Mission Getting in Shape for Launch
Article extract: Stacking spacecraft components on top of each other is one of the final assembly steps before a mission launches to the Red Planet.
----------------------------------
Title: With Mars Methane Mystery Unsolved, Curiosity Serves Scientists a New One: Oxygen
Article extract: For the first time in the history of space exploration, scientists have measured the seasonal changes in the gases that fill the air directly above the surface of Gale Crater on Mars.
----------------------------------
Title: NASA's MAVEN Maps Winds in the Martian Upper Atmosphere that Mirror the Terrain Below and Gives Clues to Martian Climate
Article extract: Researchers have created the first map of wind circulation in the upper atmosphere of a planet besides Earth, using data from NASA’s MAVEN spacecraft that were collected during the last two years.
----------------------------------
Title: Screening Soon: 'The Pathfinders' Trains Lens on Mars
Article extract: With the Mars 2020 mission ramping up, the documentary — the first of four about past JPL missions to the Red Planet to be shown at Caltech — tells a gripping backstory.
----------------------------------
Title: Heat and Dust Help Launch Martian Water Into Space, Scientists Find
Article extract: Scientists using an instrument aboard NASA’s Mars Atmosphere and Volatile EvolutioN, or MAVEN, spacecraft have discovered that water vapor near the surface of the Red Planet is lofted higher into the atmosphere than anyone expected was possible.
----------------------------------
Title: NASA's Perseverance Rover Will Carry First Spacesuit Materials to Mars
Article extract: In a Q&A, spacesuit designer Amy Ross explains how five samples, including a piece of helmet visor, will be tested aboard the rover, which is targeting a July 30 launch.
----------------------------------
Title: NASA's Treasure Map for Water Ice on Mars
Article extract: A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.
----------------------------------
Title: NASA Wins 4 Webbys, 4 People's Voice Awards
Article extract: Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA's Global Climate Change website and Solar System Interactive.
----------------------------------
Title: A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes
Article extract: Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition.
----------------------------------
Title: How NASA's Mars Helicopter Will Reach the Red Planet's Surface
Article extract: The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.
----------------------------------

# 2. Featured Image URL build

In [33]:
space_img_url = "https://spaceimages-mars.com/"
browser.visit(space_img_url)

In [56]:
html_img = browser.html
soup_img = bs(html_img, 'html.parser')

header_img = soup_img.find('img', class_="headerimage")['src']

featured_image_url = space_img_url+header_img

print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

# 3. Mars facts table extraction

In [3]:
facts_url = "https://galaxyfacts-mars.com/"
browser.visit(facts_url)

In [5]:
tables = pd.read_html(facts_url)
display(tables)
tables[1]

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

# 4. Mars Images extraction

In [6]:
mult_img_url = ("https://marshemispheres.com/")
browser.visit(mult_img_url)

In [12]:
mult_img_html = browser.html
soup = bs(mult_img_html, 'html.parser')

img_link = soup.find_all('a', class_='itemLink')

for img in img_lin:
    
    img_link

AttributeError: ResultSet object has no attribute 'decode'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?